# Baselines hasn't finalized the switch to tensorflow 2.0, so we'll
# use the final 1.x release, which included GPU support.
# https://www.tensorflow.org/install/pip
tensorflow-gpu>=1.15, <2.0
# Simply use the latest gym from PyPi. Include atari for testing.
gym[atari] == 0.15.4
numpy == 1.18.1
pandas == 1.0.1
matplotlib == 3.1.2
stable-baselines == 2.9.0
networkx == 2.4
